@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
:root {
  font: 16px / 1 'ZCOOL QingKe HuangYou', serif
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(34, 34, 34);
  margin: 1rem;
  display: flex;
  justify-content: center;
}

/* Custom Styles */

header h1 {
  font-size: 9vh;
  color: white;
  text-shadow: 1px 2px purple;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

tr {
  color: whitesmoke;
  display: flex;
  flex: nowrap column;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

td {
  font-size: calc(2vh + 1vw);
  margin: 0;
  padding: .5vw;
  width: calc(2vh + 1.5vw);
  height: calc(2vh + 1.5vw);
  background-color: cyan;
  border: 1.5px rgb(240, 59, 128) solid;
  text-align: center;
}

p {
  font-size: calc(2vh + 1vw);
  color: whitesmoke;
  letter-spacing: .5ch;
  border-bottom: 1px solid white;
  padding-bottom: .5rem;
}

.boom {
  background-color: rgba(23, 24, 24, 0.699);
  color: greenyellow;
  border: 1.5px rgb(22, 22, 22) solid;
}