@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
:root {
  font: 16px / 1 'ZCOOL QingKe HuangYou', serif
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(34, 34, 34);
  margin: 1rem;
  display: flex;
  justify-content: center;
}

/* Custom Styles */

header h1 {
  font-size: 9vh;
  color: white;
  text-shadow: 1px 2px purple;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

td {
  color: whitesmoke;
  display: flex;
  flex: nowrap column;
  justify-content: center;
}

tr {
  font-size: calc(3vh + 1vw);
  margin: 0;
  padding: .7vw 2vw;
  background-color: cyan;
  border: 1.5px rgb(240, 59, 128) solid;
}